.login-form{
    height: 30rem;
    width:80rem;
    background-color:$off-white;
    position : absolute;
    right : 30rem;
    margin-bottom: 0rem;
    margin-top:10rem;
    border-radius: 2rem;
    text-align: center;
    padding-top:10rem;
    
    
}
.label{
    font-family:fantasy;
    font-size: 4rem;
    margin-right: 2rem;
}


